<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
{% if lista_acessos %}
<table>
    <thead>
        <th>Nome da pagina</th>
        <th>Data de acesso</th>
    </thead>
    <tbody>
    {% for acesso in lista_acessos %}
        <tr>
            <td>{{ acesso.pagina }}</td>
            <td>{{ acesso.data }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>
{% endif %}
</body>
</html>