{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{% static "css/index.css" %}">
        <link rel="stylesheet" href="{% static "css/filmes.css" %}">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <title>A Harry Potter Website</title>
    </head>
    <body>
        <div class="allpage">
            <div class="menu">
                <nav>
                    <a href="{%  url 'my_app:home' %}">Home</a>
                    <a href="{%  url 'saopaulo:index' %}">São Paulo</a>
                    <a href="{%  url 'aula1:index' %}">Calculadora</a>
                    <a href="{%  url 'my_app:films_v2' %}">Filmes v2</a>
                    <a href="{%  url 'my_app:index' %}">Filmes</a>
                    <a href="{%  url 'my_app:table' %}">Tabela</a>
                    <a href="#"><img src="{% static "css/images/hp_avatar.png" %}" alt="avatar"></a>
                </nav>
            </div>
            <div class="conteudo">
                <div class="imagem-fundo"></div>

                <div class="todos-filmes">
                    <div class="linha-filmes">
                        <div class="filme" id="filme1">
                            <div class="capa">
                                <img src="{% static "css/images/hp1_filme.jpg" %}" alt="">
                            </div>
                            <div class="infos">
                                <p class="titulo">Harry Potter e a Pedra Filosofal</p>
                                <p class="ano">2001</p>
                                <p class="diretor">Chris Colombus</p>
                                <p class="sinopse">Harry Potter (Daniel Radcliffe) é um garoto órfão de 10 anos que vive infeliz com seus tios, os Dursley. Até que, repentinamente, ele recebe uma carta contendo um convite para ingressar em Hogwarts, uma famosa escola especializada em formar jovens bruxos. Inicialmente Harry é impedido de ler a carta por seu tio Válter (Richard Griffiths), mas logo ele recebe a visita de Hagrid (Robbie Coltrane), o guarda-caça de Hogwarts, que chega em sua casa para levá-lo até a escola. A partir de então Harry passa a conhecer um mundo mágico que jamais imaginara, vivendo as mais diversas aventuras com seus mais novos amigos, Rony Weasley (Rupert Grint) e Hermione Granger (Emma Watson).</p>
                            </div>
                        </div>
                        <div class="filme" id="filme2">
                            <div class="capa">
                                <img src="{% static "css/images/hp2_filme.jpg" %}" alt="">
                            </div>
                            <div class="infos">
                                <p class="titulo">Harry Potter e a Câmara Secreta</p>
                                <p class="ano">2002</p>
                                <p class="diretor">Chris Colombus</p>
                            </div>
                        </div>
                        <div class="filme">
                            <div class="capa">
                                <img src="{% static "css/images/hp3_filme.jpg" %}" alt="">
                            </div>
                            <div class="infos">
                                <p class="titulo">Harry Potter e o Prisioneiro de Azkaban</p>
                                <p class="ano">2004</p>
                                <p class="diretor">Alfonso Cuarón</p>
                            </div>
                        </div>
                        <div class="filme">
                            <div class="capa">
                                <img src="{% static "css/images/hp4_filme.webp" %}" alt="">
                            </div>
                            <div class="infos">
                                <p class="titulo">Harry Potter e o Cálice de Fogo</p>
                                <p class="ano">2005</p>
                                <p class="diretor">Mike Newell</p>
                            </div>
                        </div>
                    </div>
                    <div class="linha-filmes">
                        <div class="filme">
                            <div class="capa">
                                <img src="{% static "css/images/hp5_filme.webp" %}" alt="">
                            </div>
                            <div class="infos">
                                <p class="titulo">Harry Potter e a Ordem da Fênix</p>
                                <p class="ano">2007</p>
                                <p class="diretor">David Yates</p>
                            </div>
                        </div>
                        <div class="filme">
                            <div class="capa">
                                <img src="{% static "css/images/hp6_filme.jpg" %}" alt="">
                            </div>
                            <div class="infos">
                                <p class="titulo">Harry Potter e o Enigma do Príncipe</p>
                                <p class="ano">2009</p>
                                <p class="diretor">David Yates</p>
                            </div>
                        </div>
                        <div class="filme">
                            <div class="capa">
                                <img src="{% static "css/images/hp71_filme.jpg" %}" alt="">
                            </div>
                            <div class="infos">
                                <p class="titulo">Harry Potter e as Relíquias da Morte: Parte 1</p>
                                <p class="ano">2010</p>
                                <p class="diretor">David Yates</p>
                            </div>
                        </div>
                        <div class="filme">
                            <div class="capa">
                                <img src="{% static "css/images/hp72_filme.jpg" %}" alt="">
                            </div>
                            <div class="infos">
                                <p class="titulo">Harry Potter e as Relíquias da Morte: Parte 2</p>
                                <p class="ano">2011</p>
                                <p class="diretor">David Yates</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="visualiza-direito">
                    <div id="msg-direito">
                        <p>Clique em um filme para exibir mais detalhes!</p>
                    </div>
                    <div id="conteudo-direito">
                        <p id="visualiza-titulo">Harry Potter e as Relíquias da Morte: Parte 2</p>
                        <img id="visualiza-imagem" src="{% static "css/images/hp72_filme.jpg" %}" alt="">
                        <p id="visualiza-ano-diretor">2011 - David Yates</p>
                        <p id="visualiza-sinopse">Harry Potter (Daniel Radcliffe) e seus amigos Rony Weasley (Rupert Grint) e Hermione Granger (Emma Watson) seguem à procura das horcruxes. O objetivo do trio é encontrá-las e, em seguida, destruí-las, de forma a eliminar lorde Voldemort (Ralph Fiennes) de uma vez por todas. Com a ajuda do duende Grampo (Warwick Davis), eles entram no banco Gringotes de forma a invadir o cofre de Bellatrix Lestrange (Helena Bonham Carter). De lá retornam ao castelo de Hogwarts, onde precisam encontrar mais uma horcrux. Paralelamente, Voldemort prepara o ataque definitivo ao castelo.</p>
                    </div>
                </div>
            </div>
            <div class="rodape">
                <p>Página HTML desenvolvida por Lucas B. Galhardi ©</p>
            </div>
        </div>
        <script src="{% static "js/filmes.js" %}"></script>
    </body>
</html>
